.Homebackground{
    background-image: url(./images/football.png);
    background-repeat: no-repeat;
    background-size:1300px 520px;
    position:relative;
    height: 100%;
    width: 100%;
}

.info{
    width: 1270px;
    height: 100px;
    font-size: x-large;
    position:absolute;
    text-align: center;
    font-family:  'Lato', sans-serif;
    top: 80px;
    bottom: 5px;
    color: grey;

  }

  .info2{
    width: 1270px;
    height: 100px;
    font-size: x-large;
    position:absolute;
    text-align: center;
    font-family:  'Lato', sans-serif;
    top: 350px;
    bottom: 5px;
    color: grey;
  }

.btn-1 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

footer a,
.btn-1 a {
  text-decoration: none;
  border: 2px solid grey;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  top:355px;
  left: 950px;
}

span {
  position: relative;
  z-index: 3;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: black;
  
}

