.group1 {
    width: 50%;
    float: left;
    padding: 20px;
    position:relative;
    right: 10px;
 
}  

.vs{
    font-size: xx-large;
    height: 100px;
    width: 100px;
    position:relative;
    right: -275px;
    top: -100px;

}
.group2{
    width: 50%;
    float: left;
    padding: 20px;
    position:relative;
    right: -20px;
    top: -100px;
   

    
}
.submit{
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: solid 2px black;
    padding: 0.5rem;
    border-radius: 1rem;
    position:relative;
    right: -125px;
    top: -60px;
    cursor: pointer;
}