.main{
    /* background-image: url(./images/icons.png); */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titleofpage{
    text-align: center;
    margin-top: 20px;

}

.group1,.group2 {
    width: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
   

.submit{
    text-align: center;
    height: 100%;
    border: solid 2px black;
    padding: 0.5rem 5.3rem;
    border-radius: 1rem;
    cursor: pointer;}

.TitleOfRES{
    text-align: center;
}

img.logo {
    width: 100px;
    height: 100px;
}
.img-container{
    height: 100px;
    width: 100px;
}

.group-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sc-hKwDye{
    font-weight: 800;}